<div id="html-part" class="link-card-wrapper">
  <a class="link-card" href="{{(.Get 0)}}" rel="noopener">
    <div class="link-card-content">
      <div class="link-card-image" id="grid-content-1">
        <img id="thumbnail-image-code" src="{{.Get 2}}">
      </div>
      <div class="link-card-text" id="grid-content-2">
        <p class="link-card-title" data-title="{{(.Get 1)}}"></p>
      </div>
      <div id="grid-content-3">
        <p class="link-card-description" data-desc="{{.Get 3}}"></p>
        <div class="link-card-domain">
          <p class="link_text"></p>
        </div>
      </div>
    </div>
  </a>
</div>